<h5><a href="/">Inicio</a></h5>
<table>
  <thead>
    <tr>
      <th>Marca</th>
      <th>Nombre</th>
      <th>Precio por hora</th>
      <th>Cantidad disponible</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Trek</td>
      <td>Bicicleta Hibrida</td>
      <td>$55.00</td>
      <td>10</td>
      <td>
      {{#if logged}}
        <button type="button" onclick="location.href = '/renta';">Rentar</button>
      {{else}}
        <button type="button" onclick="location.href = '/login';">Inicia sesión para rentar esta bicicleta</button>
      {{/if}}
      </td>
    </tr>
    <tr>
      <td>Giant</td>
      <td>Bicicleta de Montaña</td>
      <td>$47.50</td>
      <td>5</td>
      <td>
      {{#if logged}}
        <button type="button" onclick="location.href = '/renta';">Rentar</button>
      {{else}}
        <button type="button" onclick="location.href = '/login';">Inicia sesión para rentar esta bicicleta</button>
      {{/if}}        
      </td>
    </tr>
    <tr>
      <td>Specialized</td>
      <td>Bicicleta para niños</td>
      <td>$40.00</td>
      <td>3</td>
      <td>
      {{#if logged}}
        <button type="button" onclick="location.href = '/renta';">Rentar</button>
      {{else}}
        <button type="button" onclick="location.href = '/login';">Inicia sesión para rentar esta bicicleta</button>
      {{/if}}
      </td>
    </tr>
  </tbody>
</table>
