<table>
  <thead>
    <tr>
      <th>Marca</th>
      <th>Nombre</th>
      <th>Precio por hora</th>
      <th>Cantidad disponible</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Trek</td>
      <td>Bicicleta Hibrida</td>
      <td>$55.00</td>
      <td>10</td>
      <td>
        <button type="button">Rentar</button>
      </td>
    </tr>
    <tr>
      <td>Giant</td>
      <td>Bicicleta de Montaña</td>
      <td>$47.50</td>
      <td>5</td>
      <td>
        <button type="button">Rentar</button>
      </td>
    </tr>
    <tr>
      <td>Specialized</td>
      <td>Bicicleta para niños</td>
      <td>$40.00</td>
      <td>3</td>
      <td>
        <button type="button">Rentar</button>
      </td>
    </tr>
  </tbody>
</table>
