<h5><a href="/">Inicio</a></h5>
<h1>Registrate</h1>
<form action="" method="post">
    <div>
    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre" id="nombre">
    </div>
    <div>
    <label for="username">Usuario: </label>
    <input type="text" name="username" id="username">
    </div>
    <div>
    <label for="email">Email: </label>
    <input type="email" name="email" id="email">
    </div>
    <div>
    <label for="password">Contraseña: </label>
    <input type="password" name="password" id="password">
    </div>
    <button type="submit">Register</button>
</form>

<h3>Ya tienes una cuenta? <a href="/login">Conéctate!</a></h3>